<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.leg.interlegis.saplmobile.sapl">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name=".SaplApplication">
        <activity
            android:name=".SaplActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="interlegis.leg.br"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".SaplActivity">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="interlegis.leg.br"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.SaplService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.SessaoPlenariaTestActivity"
            android:label="@string/title_activity_sessao_plenaria">
        </activity>
        <activity
            android:name=".activities.SessaoPlenariaListActivity"
            android:label="@string/title_activity_sessao_plenaria"
            android:parentActivityName=".SaplActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.leg.interlegis.saplmobile.sapl.SaplActivity" />
        </activity>
    </application>

</manifest>